*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.logofont{
    color: blueviolet;
    padding-right: 10px;
}
.Nav{
    height: 60px;
    width: 100vw;
    border: 1px solid black;
    background-color: rgb(250, 241, 255);
    display: flex;
    justify-content: space-around;
}
ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    width: auto;
    height: 60px;
    align-items: center;
}
ul li{
    padding-left: 30px;
}
.logo{
    display: flex;
    width: auto;
    height: 60px;
    align-items: center;
}
.login-cont{
    display: flex;
    width: 200px;
    justify-content: space-around;
    height: auto;
    align-items: center;
}
.login{
    background-color: blueviolet;
    color: white;
    border: 0;
    padding: 10px;
}
.sign-up{
    background-color: aliceblue;
    color: black;
    border: 0;
    padding: 10px;
}
#property{
    background-color: transparent;
    border: 0;
}
#Resources{
    background-color: transparent;
    border: 0;
}
.active{
    background-color: rgb(139, 11, 243);
    color: white;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
}
a{
    text-decoration: none;
}
